/* Style untuk header */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo di header */
.navbar-brand img {
    margin-right: 10px;
}

/* Warna aktif pada menu */
.nav-link.active {
    color: #007bff !important;
    font-weight: bold;
}

/* Form pencarian */
form.d-flex input[type="search"] {
    border-radius: 20px;
    border: 1px solid #ced4da;
}

/* Tombol pencarian */
form.d-flex .btn-outline-success {
    border-radius: 20px;
}

/* Konten utama */
.container h1 {
    font-size: 2.5rem;
    color: #333;
}

.container p {
    font-size: 1.2rem;
    color: #555;
}


/* Konten utama */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Judul halaman */
h1 {
    color: #007bff;
    font-size: 2rem;
}

/* Label */
label {
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
